h1{
    text-align:center;
}

#board{
    background-color: yellow;
    width: 800px;
    height: 800px;
    padding:25px;
    margin-left:auto;
    margin-right:auto;
    position:relative;
}

#grid{
    width:802px;
    height:802px;
}

.tile{
    border:1px solid black;
}

.stone{
    position:absolute;
}